*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
}
.nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.burger-menu{
    position: relative;
    width: 1.56rem;
    height: 0.125rem;
    background-color: white;

    &::before{
        content: '';
        position: absolute;
        width:  1.56rem;
        height: 0.125rem;
        background-color: white;
        top: 0.25rem;
    }
    
    &::after{
        content: '';
        position: absolute;
        width:  1.56rem;
        height: 0.125rem;
        background-color: white;
        bottom:  0.25rem;
    }
}

#cart{
    background-color: #161516;
    height: 100vh;
}

.main{
  
    
}

.slider{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
  
  
    margin-top: 4.37rem;
    margin-right: 0px;
    
 

    & .img{
    width: 25rem;
    height: 25rem;
    object-fit: scale-down;
    margin-right: 0px;
    }

    & .slide-title{
        font-size: 6.87rem;
       
        font-weight: 400;
        margin: 1.87rem 0 1.87rem 0px;
        letter-spacing: -3px;
        padding-left: 1rem;
        line-height: 5rem;
        position: relative;

        & > span{
            position: absolute;
            top: 0;
            right: 100%;
            display: inline-block;
            height: 100%;
            
            & .current{
                position: relative;
                z-index: 2;

                &::before{
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: -0.62rem;
                    width: 108%;
                    height: 40%;
                    background-color: #343234;
                    z-index: -1;

                }
            }
        }
    }

    & > article{
       
        max-width: 31rem;
        width: 100%;

        & .slide-count{

            display: flex;
            align-items: center;
            gap: 0.62rem;
            & .count-line{
                display: inline-block;
                width: 1.87rem;
                height: 1px;
                background-color: white;
                vertical-align: middle;
            }
        }

        & .slide-descriptions{
            font-size: 1rem;
            max-width: 23.7rem;
            width: 100%;
            margin-bottom: 12.5rem;
            position: relative;

            & .current-description{

            }
        }

        & > .btn{
            margin-top: 6.25rem;
            position: relative;

            &::before{
                content: '';
                position: absolute;
                top: 1.25rem;
                width: 100%;
                height: 1px;
                background-color: white;
            }
        }

        & .side-nav{

            & > button{
              position: absolute;
              border-radius: 6.25rem;
              width: 2.18rem;
              height: 2.18rem;
              border: 1px solid #434143;
              background-color: #161516;
                
              & > img{
                position: relative;
                width: 0.93rem;
                height: 0.93rem;
                
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%,-50%); 
              }
            }
    
            & .btn-next{
                transform: rotate(90deg);
                top: 35%;
                right: 15%;
            }
    
            & .btn-prev{
                transform: rotate(-90deg);
                top: 30%;
                right: 15%;
            }
        }

        & .dots{
            position: absolute;
            bottom: 0.64rem;
            left: 50%;
            transform: translateX(-50%);

            & .dot{
                display: inline-block;
                width: 0.31rem;
                height: 0.31rem;
                border-radius: 0.62rem;
                background-color: #313131;
            }

            & .dot.dot-active{
                background-color: white;
            }
        }


       
        
    }

    & .category{
        position: absolute;
        right: 15%;
        bottom: 12.5rem;
        writing-mode: vertical-lr;
    }
}
.btn{
    margin-top: 5.62rem;
}

.next{
    top: 0px;
    left: 0px;
    opacity: 1;
    position: absolute;
    

}

@media (max-width: 1500px) {

    .slider{

        & article{
            & .side-nav{
                
                & .btn-next{

                    right: 10%;
                    top: 37%;
                }

                & .btn-prev{
                    right: 10%;
                }

            }
        }
    }
    
}

@media (max-width: 1305px) {
    #cart{
        height: 120vh;
    }
    .slider{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & .category{
            right: 0.93rem;
        }

        & .slide-title{
            display: flex;
            justify-content: center;

          
                font-size: 5rem;
            
            
            & > span{
                right: 58%;
            }
        }

        & article{
            margin-top: 3.12rem;
            & .slide-count{
               
            }

            & .slide-descriptions{
                margin-bottom: 3.12rem;
              
               
            }

            & .side-nav{

                & .btn-prev{
                    // right: 260px;
                    right: 20%;
                    top: 68.5%;
                    transform: rotate(0deg);
                }
                
                &  .btn-next{
                    top: 68.5%;
                    right: 30%;
                    // right: 320px;
                    transform: rotate(180deg);
                }
            }

            & .dots{
                bottom: -4.25rem;
                // left: 380px;
            }
        }
    }
    .btn-prev{
       
    }
    .btn-next{
      
    }
    
}

@media (max-width:550px) {
    .slider{

        & article{

            padding: 0px 2rem;

            & .slide-title{
                font-size: 4.7rem;
            }

            & .slide-descriptions{
                margin-bottom: 100px;
            }

            & .dots{
                left: 12%;
                bottom: -6rem;
            }
        }
    }
}


@media (max-width:420px) {


    .slider{

        
        & article{
            
            & .slide-title{
                padding-left: 6.18rem;
                font-size: 4rem;
    
                & > span{
                    right: 55%;
                }
            }
            padding: 0px 1.25rem;

            & .slide-descriptions{
                margin-bottom: 50px;
            }

            & .dots{
                
                left: 5.5%;
                bottom: -4.87rem;
                transform: translate(0);
            }

            & .slide-descriptions{

                & > p{
                    padding: 0px 0.93rem;
                    text-align: center;
                }
            }

            & .side-nav{

                & .btn-next{
                    right: 40%;
                }

                & .btn-prev{
                    right: 26%;
                }
            }
        }
    }
    
}