.contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;

    & .contacts-text{
        transform: rotate(-90deg);
    }
}